.loadercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  .loaderimage {
    width: 100px; 
    height: auto;
  }