.stockprofilecontent{
    width: 80%;
    margin-top: 20px;
}
.stockprofilepage{
    display: flex;
    justify-content: center;
    background-color: white;
}
.stockprofilechart{
    padding:20px 0;
}